.word {
  overflow: hidden;
}

.pl_image-wrapper {
  clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
}

.main-wrapper {
  z-index: 2;
}

.image_gallery {
  width: 80vh;
  pointer-events: none;
}

.image_wrapper {
  width: 300px;
}
