.word {
  overflow: hidden;
}

.pl_image-wrapper {
  clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
}

.image_gallery {
  width: 80vh;
  pointer-events: none;
}

.image_wrapper {
  width: 300px;
}

.main_wrapper.is-projects {
  a {
    color: white;
  }
}

.nav_wrapper {
  pointer-events: none;
}

a {
  pointer-events: auto;
}
