.word {
  overflow: hidden;
}

.pl_image-wrapper {
  clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
}

.main-wrapper {
  z-index: 2;
}

.image_gallery {
  /* border: 1px dashed black; */
  width: 80vh;
}

.image_wrapper {
  width: 180px;
}
